body {
    font-family: Roboto, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav,
.hero,
.footer {
    background-color: #1f2937;
}

.logo,
.hero h1 {
    color: #f9faf8;
    margin-bottom: 6px;
}

.hero p,
.nav ul li {
    font-size: 18px;
    color: #e5e7eb;
}

.quote-panel {
    background-color: #e5e7eb;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    height: 50px;
    align-items: center;
}

.nav .logo {
    font-size: 24px;
    font-weight: 900;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.nav ul li {
    padding: 0px;
    color:
}

.hero {
    display: flex;
    padding: 100px 10%;
    gap: 50px
}

.hero-right {
    flex: 0 1 auto;
    display: flex;
}

.hero-right img {
    flex: 0 1 auto;
}

.hero-left {
    flex: 0 1 50%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-left button {
    background-color: #3882F6;
    padding: 7px 25px;
    color: #f9faf8;
    border-radius: 8px;
    border: none;
    margin: 12px 0px;
}

.info-panel {
    text-align: center;
    padding: 40px 0px 80px;
}

h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #1f2937;
}

.column-square {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    background: #e5e7eb;
}

.column-container {
    display: flex;
    padding: 0 20%;
    justify-content: space-between;
    gap: 50px;
}

.column {
    width: 150px;
}